numpy
soundfile
gradio_client==1.0.1
selenium==4.3.0
webdriver_manager==4.0.1
tencentcloud-sdk-python
pygame==2.5.2
requests==2.32.3
fastapi==0.111.0
pydantic==2.7.4
uvicorn
install uvicorn[standard]
urllib3==1.26.19
pygame==2.6.0
pydub==0.25.1
edge-tts
azure-cognitiveservices-speech
openai==0.4.4
qianfan==1.40.1
PySide6==6.7.2
selenium==4.3.0
keyboard==0.13.5
pywinauto==0.6.8
psutil==6.0.0
pynput==1.7.1
